.booyah-box1 {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
}

.t-class {
	color:red;
}

body {
	background: url('/assets/page.jpg');
}

h1 {
	 font-family: '2dumbregular', sans-serif;
  	font-weight:bold;
  	color: red;
  	ffont-size:38px;
	text-align: center;
}

.booyah-box1 {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
}



html, body, #wrapper{
    height: 100%;
    width: 100%;
    position: absolute;
}

#map{
    height: 100%;
    width: 100%;    
}

